<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">               
    <title>Art Page</title>
</head>
<body>
    <div class ="artPage">
    <h1 class="mondoArtHead">Mondo Art</h1>
    <div class="artTitle"><%= post.title %></div>
    <img src="<%= post.image %>" class="artImage">
    <div class="artBoxPostShow">
    <div id= "artDescription"><%= post.description %></div>
    <div id= "artDateMade"><%= post.dateMade %></div>
    <button id="editButton"><a href="/posts/edit/<%= post._id %>">Edit</a></button>
    <form action='/posts/<%= post._id %>?_method=DELETE' method='POST'>
        <button id="deleteButton">Delete</button>
    </form>
    </div>
</div>
</body>
</html>
